In [1]:
import streamlit as st
from PIL import Image
import os, sys
import pandas as pd
import json
import pymysql
from sqlalchemy import create_engine
import pymysql
from getpass import getpass
import mysql.connector
from mysql_driver import MySQL

In [2]:
dir = os.path.dirname
src_path = dir(os.getcwd())
sep = os.sep
totem = dir(src_path)

In [3]:
configbd_json_path = totem + sep + 'config' + sep + 'bd_info.json'
with open(configbd_json_path, "r") as configbd_json_readed:
    json_configbd = json.load(configbd_json_readed)
IP_DNS = json_configbd["IP_DNS"]
USER = json_configbd["USER"]
PASSWORD = json_configbd["PASSWORD"]
BD_NAME = json_configbd["BD_NAME"]
PORT = json_configbd["PORT"]

In [4]:
mysql_db = MySQL(IP_DNS=IP_DNS, USER=USER, PASSWORD=PASSWORD, BD_NAME=BD_NAME, PORT=PORT)
conn = mysql_db.connect()

Connected to MySQL server [australia_fires]

In [7]:
select_sql = """SELECT * FROM australia_fires.fire_archive_M6_96619"""
select_result = mysql_db.execute_get_sql(sql=select_sql)

Executing:
 SELECT * FROM australia_fires.fire_archive_M6_96619

In [16]:
df = pd.read_sql('SELECT * FROM australia_fires.fire_archive_M6_96619', con=conn)

In [17]:
df

,fire_id,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,fire_type
0,0,-11.807,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0
1,1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,D,0
2,2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,D,0
3,3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,D,0
4,4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36006,36006,-28.0656,131.6334,312.7,1.2,1.1,2019-09-30,1644,Aqua,MODIS,85,6.3,292.9,14.2,N,0
36007,36007,-28.2625,128.5494,304.9,1.0,1.0,2019-09-30,1644,Aqua,MODIS,27,6.3,290.9,6.4,N,0
36008,36008,-28.2941,128.5123,301.7,1.0,1.0,2019-09-30,1644,Aqua,MODIS,43,6.3,290.4,5.5,N,0
36009,36009,-28.3001,128.5530,303.6,1.0,1.0,2019-09-30,1644,Aqua,MODIS,41,6.3,290.3,5.7,N,0
36010,36010,-30.8641,121.4995,309.1,1.8,1.3,2019-09-30,1645,Aqua,MODIS,77,6.3,290.9,23.0,N,2